<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>Capstones 2021!</title>
      <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" media="all"  href="../static/css/style.css" th:href="@{/css/style.css}" />
      <style>
         .color{
         background-color:black;
         }
         *{
         color:white;
         }
      </style>
   </head>
   <body class="color">
      <h1 align="center">Capstone Rankings!</h1>
      <div style="margin-left:100px;max-width:600px;">
         <table border="2px" class="table table-dark">
            <th:block th:each ="capstone: ${capstoneList}">
               <tr>
               <thead class="thead-light">
                  <th style="font-size:20px;text-align:center;" th:onclick="'getCapstone('+ ${capstone.id} + ')'" 
                     th:text="${capstone.title}"></th>
                  <td th:id="'capstone' + ${capstone.id}"></td>
                  <td style="text-align:center;"><a style="font-size:20px;"th:href="@{/upVoteById/}+${capstone.id}"><img  class="sdimg"  src="../static/images/blue-like-button.png" th:src="@{/images/blue-like-button.png}">Up Vote!</a></td>
                  <td style="text-align:center;"><a style="font-size:20px;"th:href="@{/downVoteById/}+${capstone.id}"><img  class="sdimg"  src="../static/images/dislike-button.png" th:src="@{/images/dislike-button.png}">Down Vote!</a></td>
               </thead>
               </tr>
            </th:block>
         </table>
      </div>
      <div style="position:absolute;top:10%;left:50%;max-height:700px;width:300px;border:3px solid gray;padding:10px;border-radius:20px;">
      <h3>Add a Capstone here!</h3>
         <form method="post" th:action="@{/insertCapstone}"
            th:object="${capstone}">
            <div class="form-group">
               <label>Title: <input type="text" class="form-control" th:field="*{title}" required /></label>
            </div>
            <div class="form-group">
               <label>Link: <input type="text" class="form-control" th:field="*{link}"/></label>
            </div>
            <div class="form-group">
               <label>Team Name: <input type="text" class="form-control" th:field="*{teamName}" /></label>
            </div>
            <!-- Also I'm not adding rank in the form, coz according to my pov, ranks come after that project or something has been uploaded to a platform like how it works on youtube  -->
            <input type="submit" style="background-color:blue;" value="Add Team to the List!" />
         </form>
      </div>
   </body>
</html>